<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Use the link below to find the key codes you want to use-->
    <!--Key Code Mapping = https://www.cambiaresearch.com/articles/15/javascript-char-codes-key-codes -->

    <!-- 45 = insert -->
    <add key="KeyCodeShow" value="45" />

    <!-- 35 = End -->
    <add key="KeyCodeExit" value="35" />

    <!-- This is the threshold for the Lowest USED Fertilizer - fertilizers with 0 are ignored -->
    <add key="WarnWhenDurationLowerThan" value="8" />
    <!-- This is the threshold for the Highest number of items to Collect from harvest box -->
    <add key="WarnWhenBoxItemsHigherThan" value="5" />

    <!-- The delay between checks in SECONDS -->
    <add key="CheckDelay" value="5" />
  </appSettings>
</configuration>