<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!-- true will cause for more stuff to be printed to the screen.-->
    <add key="Debug" value="false" />

    <!-- Place where you want a log file created.-->
    <!-- If something goes wrong, this is what you would email to: ctdavies@ucalgary.ca -->
    <add key="LogFile" value="" />

    <!-- Value in ms (1000ms = 1second) between next read. -->
    <!-- Used when version is not supported due to being unable to synchronise with the game-->
    <!--[+ integer]-->
    <!--Default: 50-->
    <add key="DelayBetweenCombo" value="50" />

    <!-- Should the sequence be randomly generated?-->
    <add key="RandomRun" value="false" />

    <!-- Value can be True for AZERTY(QZD) keyboard or False for QUERTY(AWD) keyboard -->
    <add key="IsAzerty" value="false" />

    <!--Use the link below to find the key code you want to use-->
    <!--Key Code Mapping = https://www.cambiaresearch.com/articles/15/javascript-char-codes-key-codes -->
    <!-- System > Options > Controls > Keyboard Settings > Menu Control > "Use or Register Loadout / Cancel Animation" -->
    <!-- 88 = "X"-->
    <add key="KeyCutsceneSkip" value="88" />

    <!--The probability of winning when a common reward is the payout.-->
    <!--[0.0 - 1.0]-->
    <!--Default: 1.0-->
    <add key="CommonSuccessRate" value ="1"/>

    <!--The probability of winning when a rare (red) reward is the payout.-->
    <!--[0.0 - 1.0]-->
    <!--Default: 1.0-->
    <add key="RareSuccessRate" value ="1"/>

    <!--The number of seconds you are willing to wait for the program to determine which slot you are playing.-->
    <!--After this many seconds, the program will terminate.-->
    <!--[+ integer]-->
    <!--Default: 30-->
    <add key="MaxTimeSlotNumberSeconds" value ="30"/>

    <!--The amount of fuel you want to remain unspent. This applies to natural fuel if only use natural fuel is selected.-->
    <!--[+ integer]-->
    <!--Default: 0-->
    <add key="StopAtFuelAmount" value ="0"/>

    <!--Should only natural fuel be spent?-->
    <!--Default: false-->
    <add key="OnlyUseNaturalFuel" value ="true"/>

    <!--The app automatically quit when an exit condition is met? If not, then the app will wait for "quit" to be entered before closing-->
    <!--Default: false-->
    <add key="AutoQuit" value ="false"/>

  </appSettings>
</configuration>