<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Value in ms (1000ms = 1second) between the pushes of buttons-->
    <add key="DelayBetweenKeys" value="500"/>
    <!-- Value in ms (1000ms = 1second) between next read -->
    <add key="DelayBetweenCombo" value="1000"/>
    <!-- Value can be True for AZERTY(QZD) keyboard or False for QUERTY(AWD) keyboard -->
    <add key="IsAzerty" value="false"/>
  </appSettings>
</configuration>