<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Value in ms (1000ms = 1second) between next read -->
    <add key="DelayBetweenCombo" value="50"/>
    <!-- Value can be True for AZERTY(QZD) keyboard or False for QUERTY(AWD) keyboard -->
    <add key="IsAzerty" value="false"/>
    <!-- Value can be True for logging everything, False for logging only errors -->
    <add key="IsLogEnabled" value="true"/>

    <!-- Setting this to false will consume >>ONLY<<  the available Natural Fuel -->
    <!-- Setting this to true  will consume  >>ALL<<  the available Fuel -->
    <add key="ShouldConsumeAllFuel" value="true"/>

    <!-- Setting this to false will not close this program when MHW closed -->
    <add key="ShouldExitTheProgramWhenMHWClose" value="true"/>
    
    <!--Use the link below to find the key codes you want to use-->
    <!--Key Code Mapping = https://www.cambiaresearch.com/articles/15/javascript-char-codes-key-codes -->

    <!-- 36 = Home - This will start to consume the fuel reading the memory - 100% Success -->
    <add key="keyCodeStart" value="36" />
    
    <!-- 112 = F1 - This will consume ALL the fuel in a random way -->
    <add key="keyCodeStartRandom" value="112" />

    <!-- 35 = End-->
    <add key="keyCodeStop" value="35" />
    
    <!-- System > Options > Controls > Keyboard Settings > Menu Control > "Use or Register Loadout / Cancel Animation" -->
    <!-- 88 = "X"-->
    <add key="keyCutsceneSkip" value="88" />
  </appSettings>
</configuration>
